body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

section {
    background-color: white;
    box-shadow: 0 0 0.3em black;
    border-radius: 0.2em;
    width: 30vw;
    overflow: hidden;
}

img {
    width: 100%;
}

div {
    margin: 1em;
}

a {
    text-decoration: none;
    float: right;
    padding: 0.3em;
    margin: 1em;
    background-color: green;
    color: white;
}

@media (max-width: 600px) {
    section {
        width: 90vw;
    }
}

