@media (width: 360px) {
    article {
        color: red;
    }
}

@media (min-width: 35em) {
    article {
        background-color: yellow;
    }
}

@media (max-width: 50em) {
    article {
        border: 0.3em solid blue;
    }
}