@media (max-width: 600px) {
    .home-navbar1 {
        display: none;
    }

    .home-cards-container {
        grid-gap: 12px;
    }

    .category-card-category-card {
        flex-basis: calc(50% - 12px);
    }

    .category-card-image {
        width: 255px;
        height: 255px;
    }

    .home-full-width-banner {
        flex-direction: column;
    }

    .home-text29 {
        margin: 14px 0 14px 0;
    }

    .home-text30 {
        width: 90vw;
    }

    .home-btn {
        margin: 0 0 28px 0;
    }

    .home-image6 {
        width: 100vw;
    }

    .blog-post-card-image {
        width: 90vw;
    }

    .home-footer1 {
        flex-direction: column;
    }

    .home-links-container {
        order: 1;
        flex-direction: column;
    }

    .home-container09 {
        order: 2;
    }
}