body {
    margin: 0;
}

#nav-toggle {
    display: none;
}

body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
}

.title-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.site-title {
    color: purple;
    margin-bottom: 0;
}

.subtitle {
    font-family: Helvetica, sans-serif;
    letter-spacing: -0.08em;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
}

nav {
    display: flex;
    flex-grow: 1;
    gap: 0.8em;
    justify-content: center;
}

nav a {
    color: black;
    text-decoration: none;
}

label[for='nav-toggle'] {
    display: none;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.need-a-website {
    display: flex;
    margin-inline: 25vw;
}

.need-a-website .right i {
    font-size: 10em;
}

.need-a-website .left a {
    color: black;
    text-decoration: none;
    padding: 0.3em;
    border: 0.1em solid black;
    border-radius: 0.2em;
}

hr {
    width: 18vw;
}

section h2 {
    text-align: center;
}

.person-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.person-list li {
    box-sizing: border-box;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-list li i {
    overflow: hidden;
    padding-inline: 0.1em;
    font-size: 3em;
    border: 0.1em solid darkgray;
    border-radius: 50%;
}

.newsletter {
    background-color: purple;
    padding-block: 2em;
}

.newsletter h2 {
    color: white;
}

.newsletter form {
    margin: auto;
    display: block;
    width: max-content;
}

.newsletter form input {
    width: 40em;
}

blockquote {
    font-style: italic;
    color: darkslategrey;
}

footer {
    padding-inline: 5em;
    display: flex;
    background-color: whitesmoke;
    box-shadow: inset 0 0 0.8em darkgray;
}

footer div {
    flex-grow: 1;
}

footer div p {
    width: 30em;
}

.sitemap nav div {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contacts ul {
    list-style: none;
}

@media (max-width: 1300px) {

    .title-card {
        flex-grow: 1;
        align-items: flex-start;
    }

    nav {
        justify-content: flex-end;
    }

    .need-a-website {
        margin-inline: 14vw;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 0.95em;
    }

    nav {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        font-size: 1.2em;

    }

    label[for='nav-toggle'] {
        display: block;
    }

    .top-nav a {
        display: none;
    }

    #nav-toggle:checked + nav a {
        display: block;
    }

    .need-a-website {
        margin-inline: 1vw;
    }

    .person-list li {
        width: 50%;
    }

    .newsletter form input {
        width: 25em;
    }

    footer {
        flex-direction: column;
    }

    .sitemap nav {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
    }

    .newsletter form input {
        width: 15em;
    }
}