#nav-toggle {
    display: none;
}


body {
    font-family: Helvetica, sans-serif;
}

header {
    display: flex;
}

.title-card {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    align-items: center;
}

.site-title {
    color: purple;
    margin-bottom: 0;
}

.subtitle {
    font-family: Helvetica, sans-serif;
    letter-spacing: -0.08em;
    font-weight: 400;
    font-size: 0.8em;
    text-transform: uppercase;
}

nav {
    display: flex;
    flex-grow: 1;
    gap: 0.8em;
}

nav a {
    color: black;
    text-decoration: none;
}

label[for='nav-toggle'] {
    display: none;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.need-a-website {
    display: flex;
    margin-inline: 18vw;
}

.need-a-website .right i {
    font-size: 10em;
}

.need-a-website .left a {
    color: black;
    text-decoration: none;
    padding: 0.3em;
    border: 0.1em solid black;
    border-radius: 0.2em;
}

@media (max-width: 1300px) {

    .title-card {
        flex-grow: 1;
        align-items: flex-start;
    }

    nav {
        justify-content: flex-end;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 0.95em;
    }

    nav {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        font-size: 1.2em;

    }

    label[for='nav-toggle'] {
        display: block;
    }

    nav a {
        display: none;
    }

    #nav-toggle:checked + nav a {
        display: block;
    }

    .need-a-website {
        margin-inline: 1vw;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
    }
}