section {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 70vw;
    gap: 2em
}

p {
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}