@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'PT Serif', serif;
}

header {
    padding: 35px;
    height: 935px;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.topnav a {
    color: white;
    text-decoration: none;
    margin-inline: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

.upper-header {
    display: flex;
    justify-content: space-between;
}

.top-logo {
    width: 100px;
}

.lower-header {
    width: 750px;
    margin-left: 185px;
}

.lower-header h1 {
    font-weight: 300;
    font-size: 64px;
}

.lower-header p {
    font-size: 24px;
}

.section1 {
    display: flex;
    padding: 150px 205px 105px 205px;
    gap:10px;
    justify-content: center;
}

.section1 div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section1 div h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}

.section1 div a {
    color: #B0825C;
    padding: 16px;
    width: max-content;
    border: 2px solid #B0825C;
    text-decoration: none;
    font-weight: bold;
}